* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

img {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: auto;
}
.container.padd-q {
  padding: 80px 0;
}
.container.bb-line {
  border-bottom: 1px solid rgba(7, 7, 33, 0.04);
}

.header-content {
  padding: 24px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  border-bottom: 1px solid rgba(7, 7, 33, 0.04);
}
.header-content nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-content nav a {
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #070721;
  line-height: 24px;
}
.header-content nav a:hover {
  opacity: 1;
}
.header-content nav a:hover svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header-content nav a svg {
  margin-left: 4px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header-content nav a:not(:last-child) {
  margin-right: 32px;
}
.header-content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #070721;
}
.header-content .title svg {
  margin: 0 16px;
}

.images-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.images-block > a {
  margin-top: 32px;
}
.images-block > .item {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}
.images-block > .item img {
  width: 30%;
  margin: 0 8px;
}

.info-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.info-pay:not(:last-child) {
  margin-bottom: 32px;
}
.info-pay > .title {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(7, 7, 33, 0.8);
}
.info-pay > p {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #070721;
}
.info-pay > a {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #4747FF;
}
.info-pay > a:hover {
  text-decoration: underline;
}

.tab-btn {
  margin: -32px 0 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F1F1F9;
  border-radius: 67px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 2px;
}
.tab-btn > button {
  cursor: pointer;
  margin: 4px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  height: 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 37px;
  color: rgba(7, 7, 33, 0.8);
  border: none;
}
.tab-btn > button.active {
  background: #4747FF;
  color: #fff;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
.team-block > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #070721;
  margin-bottom: 16px;
}
.team-block > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(7, 7, 33, 0.8);
  margin-bottom: 32px;
}
.team-block .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}
.team-block .items .item {
  position: relative;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team-block .items .item > a {
  margin: 16px;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  z-index: 2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.team-block .items .item > a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.team-block .items .item > a svg {
  width: 32px;
  height: 32px;
}
.team-block .items .item .details {
  width: 100%;
  padding: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  z-index: 2;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 7, 33, 0)), to(rgba(7, 7, 33, 0.64)));
  background: linear-gradient(180deg, rgba(7, 7, 33, 0) 0%, rgba(7, 7, 33, 0.64) 100%);
}
.team-block .items .item .details > .name {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
.team-block .items .item .details > .role {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}
.team-block .items .item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  overflow: hidden;
  background: #E0E0FF;
  border: 1px solid #CCCCFF;
  border-radius: 24px;
}
.header-block > .details {
  padding: 0px 64px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid #CCCCFF;
}
.header-block > .details > .item {
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block > .details > .item svg {
  margin-right: 12px;
  height: 56px;
  width: 56px;
}
.header-block > .details > .item .di-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
.header-block > .details > .item .di-box span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #070721;
}
.header-block > .details > .item .di-box p {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #070721;
}
.header-block > .top {
  padding: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/header-q.jpg");
  background-position: center;
  background-size: cover;
}
.header-block > .top > .label-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #4747FF;
}
.header-block > .top > .label-info svg {
  margin-right: 4px;
}
.header-block > .top h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #070721;
  margin: 16px 0;
}
.header-block > .top p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(7, 7, 33, 0.8);
  margin-bottom: 40px;
}

.dark-btn-q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 56px;
  padding: 0px 32px;
  background: #070721;
  border-radius: 67px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #FFFFFF;
}
.dark-btn-q:hover {
  opacity: 0.8;
}
.dark-btn-q:hover svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.dark-btn-q svg {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-left: 12px;
}

.silver-btn-q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 56px;
  padding: 0px 32px;
  background: rgba(7, 7, 33, 0.04);
  border-radius: 67px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #070721;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.silver-btn-q:hover {
  opacity: 0.8;
}
.silver-btn-q:hover svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.silver-btn-q svg {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-left: 12px;
}

.plan-course {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  padding: 64px;
  background: #FFFFFF;
  border: 1px solid #E2E2F3;
  border-radius: 24px;
  position: relative;
}
.plan-course > .top-right {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 1;
}
.plan-course > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #070721;
  margin-bottom: 16px;
}
.plan-course > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(7, 7, 33, 0.8);
  margin-bottom: 64px;
}
.plan-course > .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
.plan-course > .list > .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.plan-course > .list > .item:not(:last-child) {
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(7, 7, 33, 0.04);
  padding-bottom: 32px;
}
.plan-course > .list > .item span {
  width: 32px;
  height: 32px;
  background: #4747FF;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin-right: 12px;
}
.plan-course > .list > .item p {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #070721;
}

@media screen and (max-width: 1168px) {
  .container {
    max-width: 976px;
  }
}
@media screen and (max-width: 1022px) {
  .container {
    max-width: 720px;
  }
  .container.padd-q {
    padding: 40px 0;
  }
  .header-block > .top {
    padding: 40px;
    background-position: left;
  }
  .header-block > .details {
    padding: 0 40px;
  }
  .header-block > .details > .item {
    padding: 24px 0;
  }
  .images-block > a {
    margin-top: 16px;
  }
  .plan-course {
    padding: 40px;
  }
  .plan-course > .list > .item:not(:last-child) {
    margin-bottom: 24px;
    padding-bottom: 24px;
  }
  .team-block .items {
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .team-block .items > .item:nth-child(3) {
    display: none;
  }
  .team-block .items > .item:nth-child(8) {
    display: none;
  }
}
@media screen and (max-width: 766px) {
  .top-right {
    display: none;
  }
  .container {
    overflow: hidden;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .header-block > .top {
    padding: 24px;
  }
  .header-block > .details {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 12px 0;
  }
  .header-block > .details > .item {
    padding: 12px 24px;
  }
  .header-content .title {
    margin: 0 -16px;
  }
  .header-content nav a:not(:last-child) {
    margin-right: 16px;
  }
  .header-block > .top h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .header-block > .top p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
  }
  .header-block > .top p br {
    display: none;
  }
  .header-block > .details > .item svg {
    width: 40px;
    height: 40px;
  }
  .header-block > .details > .item .di-box span {
    font-size: 12px;
    line-height: 16px;
  }
  .plan-course {
    padding: 24px;
  }
  .plan-course > h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .plan-course > p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
  }
  .plan-course > p br {
    display: none;
  }
  .plan-course > .list > .item span {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 24px;
    height: 24px;
    font-size: 12px;
  }
  .plan-course > .list > .item p {
    font-size: 16px;
    line-height: 24px;
  }
  .plan-course > .list > .item:not(:last-child) {
    margin-bottom: 16px;
    padding-bottom: 16px;
  }
  .team-block > h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .team-block > p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
  }
  .team-block > p br {
    display: none;
  }
  .info-pay > .title {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .tab-btn {
    margin: 0px 0 16px 0;
  }
  .team-block .items .item .details {
    padding: 16px;
  }
  .team-block .items .item .details .name {
    font-size: 16px;
    line-height: 24px;
  }
  .team-block .items .item .details .role {
    display: none;
    font-size: 12px;
    line-height: 16px;
  }
  .team-block .items {
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .team-block .items > .item:nth-child(3) {
    display: none;
  }
  .team-block .items > .item:nth-child(8) {
    display: none;
  }
}